#root {
  text-align: right !important;
}

.landComponent {
  width: 100vw;
  height: 100vh;
  background: url('../assets/backgrounds/FondoLand.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  /* Centra la imagen horizontalmente */
  align-items: center;
  /* Centra la imagen verticalmente */
}

.tableComponent {
  width: 100vw;
  height: 100vh;
}

.landComponent img {
  max-width: 100%;
  height: auto;
  display: block;
  /* Asegura que la imagen sea tratada como un bloque */
}